*/**/node_modules

kotlin/.DS_Store
kotlin/.idea/shelf
kotlin/confluence/target
kotlin/dependencies/repo
kotlin/android.tests.dependencies
kotlin/dependencies/android.tests.dependencies
kotlin/dist
kotlin/local
kotlin/gh-pages
kotlin/ideaSDK
kotlin/clionSDK
kotlin/android-studio/sdk
kotlin/out/
kotlin/tmp
kotlin/intellij
kotlin/workspace.xml
kotlin/*.versionsBackup
kotlin/idea/testData/debugger/tinyApp/classes*
kotlin/jps-plugin/testData/kannotator
kotlin/js/js.translator/testData/out/
kotlin/js/js.translator/testData/out-min/
kotlin/js/js.translator/testData/out-pir/
kotlin/.gradle/
kotlin/build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
kotlin/.idea/remote-targets.xml
kotlin/.idea/libraries/Gradle*.xml
kotlin/.idea/libraries/Maven*.xml
kotlin/.idea/artifacts/PILL_*.xml
kotlin/.idea/artifacts/KotlinPlugin.xml
kotlin/.idea/modules
kotlin/.idea/runConfigurations/JPS_*.xml
kotlin/.idea/runConfigurations/_JPS_*.xml
kotlin/.idea/runConfigurations/PILL_*.xml
kotlin/.idea/runConfigurations/_FP_*.xml
kotlin/.idea/runConfigurations/_MT_*.xml
kotlin/.idea/libraries
kotlin/.idea/modules.xml
kotlin/.idea/gradle.xml
kotlin/.idea/compiler.xml
kotlin/.idea/inspectionProfiles/profiles_settings.xml
kotlin/.idea/.name
kotlin/.idea/artifacts/dist_auto_*
kotlin/.idea/artifacts/dist.xml
kotlin/.idea/artifacts/ideaPlugin.xml
kotlin/.idea/artifacts/kotlinc.xml
kotlin/.idea/artifacts/kotlin_compiler_jar.xml
kotlin/.idea/artifacts/kotlin_plugin_jar.xml
kotlin/.idea/artifacts/kotlin_jps_plugin_jar.xml
kotlin/.idea/artifacts/kotlin_daemon_client_jar.xml
kotlin/.idea/artifacts/kotlin_imports_dumper_compiler_plugin_jar.xml
kotlin/.idea/artifacts/kotlin_main_kts_jar.xml
kotlin/.idea/artifacts/kotlin_compiler_client_embeddable_jar.xml
kotlin/.idea/artifacts/kotlin_reflect_jar.xml
kotlin/.idea/artifacts/kotlin_stdlib_js_ir_*
kotlin/.idea/artifacts/kotlin_test_js_ir_*
kotlin/.idea/artifacts/kotlin_dom_api_compat_*
kotlin/.idea/artifacts/kotlin_stdlib_wasm_*
kotlin/.idea/artifacts/kotlin_test_wasm_*
kotlin/.idea/artifacts/kotlinx_atomicfu_runtime_*
kotlin/.idea/artifacts/kotlinx_cli_jvm_*
kotlin/.idea/jarRepositories.xml
kotlin/.idea/csv-plugin.xml
kotlin/.idea/libraries-with-intellij-classes.xml
kotlin/.idea/misc.xml
kotlin/.idea/protoeditor.xml
kotlin/node_modules/
kotlin/.rpt2_cache/
kotlin/libraries/tools/kotlin-test-js-runner/lib/
kotlin/local.properties
kotlin/buildSrcTmp/
kotlin/distTmp/
kotlin/outTmp/
kotlin/test.output
kotlin/kotlin-native/dist
kotlin/kotlin-ide/